#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .nav-link {
  font-size: 25px;
}
#menu-0 .navbar-brand {
  font-size: 30px;
}
#header1-0 .btn {
  font-size: 30px;
}
#contacts1-0 P {
  font-size: 20px;
}
#contacts1-0 DIV {
  font-size: 20px;
  color: #000000;
}
#form1-0 .mbr-section-title {
  color: #ffffff;
}
#footer1-0 P {
  text-align: center;
  font-size: 20px;
}
#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .nav-link {
  font-size: 25px;
}
#menu-0 .navbar-brand {
  font-size: 30px;
}
#contacts1-0 P {
  font-size: 20px;
}
#contacts1-0 DIV {
  font-size: 20px;
  color: #000000;
}
#form1-0 .mbr-section-title {
  color: #ffffff;
}
#footer1-0 P {
  text-align: center;
  font-size: 20px;
}
#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .nav-link {
  font-size: 25px;
}
#menu-0 .navbar-brand {
  font-size: 30px;
}
#contacts1-0 P {
  font-size: 20px;
}
#contacts1-0 DIV {
  font-size: 20px;
  color: #000000;
}
#form1-0 .mbr-section-title {
  color: #ffffff;
}
#footer1-0 P {
  text-align: center;
  font-size: 20px;
}
#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .nav-link {
  font-size: 25px;
}
#menu-0 .navbar-brand {
  font-size: 30px;
}
#contacts1-0 P {
  font-size: 20px;
}
#contacts1-0 DIV {
  font-size: 20px;
  color: #000000;
}
#social-buttons2-0 .mbr-section-title {
  text-align: right;
  font-size: 48px;
}
#form1-0 .mbr-section-title {
  color: #ffffff;
}
#footer1-0 P {
  text-align: center;
  font-size: 20px;
}
#header3-1 H3 {
  text-align: center;
  color: #392221;
  font-size: 30px;
}
#header3-1 B {
  font-size: 48px;
}
#msg-box5-0 .mbr-section-title {
  text-align: left;
  color: #ffffff;
  font-size: 48px;
}
#msg-box5-0 .mbr-section-title B {
  color: #a4ff00;
}
#msg-box5-1 .mbr-section-title {
  color: #ffffff;
}
#msg-box5-1 .mbr-section-title B {
  font-size: 60px;
  color: #ff36f1;
}
#msg-box5-2 .mbr-section-title {
  font-size: 48px;
}
#msg-box5-2 .mbr-section-title B {
  color: #f1c050;
}
#msg-box5-3 .mbr-section-title B {
  color: #ffffff;
  font-size: 48px;
}
#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .nav-link {
  font-size: 25px;
}
#menu-0 .navbar-brand {
  font-size: 30px;
}
#footer1-0 P {
  text-align: center;
  font-size: 20px;
}
#contacts1-0 P {
  font-size: 20px;
}
#contacts1-0 DIV {
  font-size: 20px;
  color: #000000;
}
